form {
  display: flex;
  max-width: 400px;
  margin-bottom: 0;
  width: 100%;
  align-self: center;

  .react-select {
    flex: 1;
    margin-right: 20px;
  }
}

.continue-button-wrapper {
  text-align: center;
}
