.stats-modal-body {
  .top-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
  }

  section {
    text-align: center;

    div {
      font-size: 44px;
    }
  }
}
