.character-image-wrapper {
  label {
    display: block;
    font-family: "SimpsonFont";
    text-align: center;
  }
}

.character-image {
  background-color: white;
  border: 4px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;

  img {
    width: 200px;
  }
}

.character-image--no-guess {
  font-family: "Kalam";
  font-size: 160px;
  text-align: center;
  transform: rotate(-10deg);
}

.character-image--correct-guess {
  border: 4px solid #5fad56;
}

.character-image--incorrect-guess {
  border: 4px solid #c32f27;
}
