// Font from: https://www.dafont.com/simpsonfont.font

@font-face {
  font-family: SimpsonFont;
  src: url("/assets/SimpsonFont.otf") format("opentype");
}

@font-face {
  font-family: SimpsonFont;
  font-weight: bold;
  src: url("/assets/SimpsonFont.otf") format("opentype");
}

@font-face {
  font-family: Kalam;
  src: url("/assets/Kalam.ttf") format("truetype");
}

:root {
  --red: #c32f27;
  --red-light: #d2433c;
  --green: #5fad56;
  --green-light: #65b85c;
  --yellow: #fecb00;
}

html,
body,
#root,
.app-wrapper {
  height: 100%;
}

body {
  background-image: url("/assets/clouds.jpg");
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    align-self: end;
  }

  .quote {
    flex: 1;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
}
