ul.rounds {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 210px;
  justify-content: space-between;
  align-self: center;

  li {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
    color: black;
    height: 25px;
    width: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active {
    border: 2px solid black;
  }

  .red {
    background-color: var(--red);
    border: 2px solid var(--red-light);
    color: white;
  }

  .green {
    background-color: var(--green);
    border: 2px solid var(--green-light);
    color: white;
  }
}
