@keyframes grow {
  from {
    font-size: 0px;
  }
  to {
    font-size: 1000px;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .intro-heading-wrapper {
    text-align: center;
    z-index: 2;
  }

  .heading h1 {
    font-size: 0;
    animation: grow 12s ease-in-out forwards;
  }

  animation: fadeout 3s ease-in-out forwards 2s;
}
