@keyframes grow {
  from {
    font-size: 0px;
  }
  to {
    font-size: 1000px;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .intro-heading-wrapper {
    text-align: center;
    z-index: 2;
  }

  .heading h1 {
    font-size: 0;
    animation: grow 12s ease-in-out forwards, fade 2s ease-in-out forwards 3s;
  }
}
