button.button {
  background-color: #fecb00;
  background-size: 90px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-family: SimpsonFont;
  height: 38px;
  width: 93px;
}
