html,
body,
#root,
.app-wrapper {
  height: 100%;
}

body {
  background-image: url('https://i.pinimg.com/originals/ad/1e/2c/ad1e2c0c93696b30a9a6c916cb73d4b7.jpg');
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    align-self: end;
  }

  .quote {
    flex: 1;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
}
