nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;

  li {
    margin-right: 10px;

    svg {
      fill: #fff;

      &:hover {
        fill: #eee;
      }
    }
  }
}
